html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: minmax(300px, 750px);
  grid-gap: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #efefef;
  justify-content: center;
}


